<template>
  <div class="d-flex">
    <Menu @selectedId="changeMenuId" />
    <!-- v-if will be removed at the end -->
    <component :is="'User'" v-if="menuId === 3" :menuId="menuId" />
    <component :is="'Group'" v-else-if="menuId === 5" :menuId="menuId" />
    <Content v-else :menuId="menuId" />
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import Menu from './Menu.vue';
import Content from './Content.vue';
import User from './User.vue';
import Group from './Group.vue';

export default {
  components: { Content, Menu, User, Group },
  setup() {
    let menuId = ref(0); // initiate on 0

    const changeMenuId = id => {
      menuId.value = id;
    };
    return {
      menuId,
      changeMenuId
    };
  }
};
</script>
