<template>
  <div class="flex-grow-1 pa-4">
    <h2>
      Some Title
      <my-button colorWhite noBorder skinny bigFont label="?" />
    </h2>
    <div class="pa-3">Text from menuId {{ menuId }}</div>
    <div>Something ...</div>
  </div>
</template>

<script>
import {} from '@vue/composition-api';
import MyButton from './common/Button.vue';

export default {
  components: { MyButton },
  props: {
    menuId: {
      type: Number,
      required: true
    }
  },
  setup() {}
};
</script>
