<template>
    <div class="container">
        <div
            class="pill user"
            v-for="(group, idx) in groups"
            :key="`group-${idx}`"
            @click="() => removeGroup(group)"
        >{{ group.name }}</div>
        <div
            class="pill group"
            v-for="(user, idx) in users"
            :key="`user-${idx}`"
            @click="() => removeUser(user)"
        >{{ user.name }}</div>
    </div>
</template>

<script>
import { } from '@vue/composition-api';

export default {
    props: {
        groups: Array,
        users: Array,
    },
    methods: {
        removeGroup(group) {
            this.$emit("remove-group", group);
        },
        removeUser(user) {
            this.$emit("remove-user", user);
        }
    },
};
</script>

<style scoped>
.container {
    display: flex;
}
.user {
    background-color: rgb(65, 161, 89);
}

.group {
    background-color: rgb(161, 84, 233);
}

.pill {
    color: white;
    cursor: pointer;
    border-radius: 0.2rem;
    padding: 0.1rem 0.4rem;
    margin: 0.2rem;
}
</style>
2