<template>
  <div
    class="py-2 px-4 d-flex justify-end align-baseline"
    style="max-height: 10%; height: 10%"
  >
    <my-button
      class="mr-2"
      secondaryGreen
      noBorder
      label="exit without saving"
    />
    <my-button primaryGreen label="Save and Exit" />
  </div>
</template>

<script>
// import { } from '@vue/composition-api'
import MyButton from './common/Button.vue';

export default {
  components: { MyButton },
  setup() {}
};
</script>
