<template>
  <div class="flex-grow-1 pa-4" style="overflow-x: auto">
    <div class="d-flex justify-space-between">
      <div>
        <h2>Connected Members & Farms</h2>
        <div class="pa-3">
          <p class="font-weight-bold">Settings</p>
          <v-container class="pa-0" fluid>
            <v-checkbox
              class="ma-0 pa-0"
              v-model="addGrpToCoffeeShop"
              hide-details
              :ripple="false"
              :label="`Add this group to the Coffee Shop`"
            ></v-checkbox>
            <v-checkbox
              class="ma-0 pa-0"
              v-model="allowSGrpJoinCoffeeShop"
              hide-details
              :ripple="false"
              :label="`Allow subgroups to join the Coffee Shop`"
            ></v-checkbox>
            <v-checkbox
              class="ma-0 pa-0"
              v-model="allowSGrpAdmCreateFOSFtroughSS"
              hide-details
              :ripple="false"
              :label="`Allow subgroup admins to create FarmOS Farms through Survey Stack`"
            >
            </v-checkbox>
          </v-container>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex justify-end">
          {{ data.name }} has {{ data.seats.current }} /
          {{ data.seats.max }} accounts
        </div>
        <div class="d-flex justify-end align-center">
          <my-button secondaryGreen noBorder label="Upgrade" /> or
          <my-button secondaryGreen noBorder label="Learn More" />
        </div>
        <div class="d-flex justify-end">
          <my-button class="mr-2" primaryGreenWhite label="advanced" />
          <my-button primaryGreenWhite label="Tutorial" />
        </div>
      </div>
    </div>
    <div style="overflow: auto; max-height: 80vh">
      <table-group :members="unifomMembers()" />
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import MyButton from './common/Button.vue';
import TableGroup from './TableGroup.vue';

export default {
  components: { MyButton, TableGroup },
  props: {
    menuId: {
      type: Number,
      require: true
    }
  },
  setup() {
    let addGrpToCoffeeShop = true;
    let allowSGrpJoinCoffeeShop = true;
    let allowSGrpAdmCreateFOSFtroughSS = true;
    let data = ref({
      groupHasFarmOSAccess: true,
      groupHasCoffeeShopAccess: true,
      allowSubgroupsToJoinCoffeeShop: true,
      allowSubgroupAdminsToCreateFarmOSInstances: true,
      name: 'Bionutrient > Labs',
      seats: {
        current: 7,
        max: 20
      },
      members: [
        {
          name: 'Dan TerAvest',
          email: 'teravestdan@gmail.com',
          admin: true,
          connectedFarms: [
            {
              url: 'dan_teravest_farm.farmos.net',
              owner: true,
              memberships: ['Bionutrient > Labs']
            },
            {
              url: 'lees_farm.farmos.net',
              owner: true,
              memberships: [
                'Bionutrient > Labs',
                'Bionutrient > Labs > Michigan'
              ]
            },
            {
              url: 'ourscinet.farmos.net',
              owner: false,
              memberships: [
                'Bionutrient > Labs',
                'Bionutrient > Labs > Michigan',
                'Bionutrient > Labs > Europe',
                'Bionutrient > Labs > Community',
                'Bionutrient > Labs > Community > Lab'
              ]
            },
            {
              url: 'coffeeshop.farmos.net',
              owner: false
            }
          ]
        },
        {
          name: 'Dave Jole',
          email: 'djole2352@gmail.com',
          admin: false,
          connectedFarms: []
        },
        {
          name: 'Jenny Jennerson',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmos.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        },
        {
          name: 'Jenny A',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosA.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        },
        {
          name: 'Jenny B',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosB.net',
              owner: true,
              memberships: [
                'Bionutrient > Labs',
                'Bionutrient > Labs > Michigan',
                'Bionutrient > Labs > Europe',
                'Bionutrient > Labs > Community',
                'Bionutrient > Labs > Community > Lab'
              ]
            }
          ]
        },
        {
          name: 'Jenny C',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosC.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        },
        {
          name: 'Jenny D',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosD.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        },
        {
          name: 'Jenny E',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosE.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        },
        {
          name: 'Jenny F',
          email: 'bigjenny@bj.net',
          connectedFarms: [
            {
              url: 'jennybigfarmstand.farmosF.net',
              owner: true,
              memberships: ['Bionutrient > Lab > Michigan']
            }
          ]
        }
      ]
    });

    function unifomMembers() {
      this.data.members.forEach(el => {
        if (el.connectedFarms[0] == undefined) {
          el.connectedFarms.push({});
        }
      });
      return this.data.members;
    }
    return {
      addGrpToCoffeeShop,
      allowSGrpJoinCoffeeShop,
      allowSGrpAdmCreateFOSFtroughSS,
      data,
      unifomMembers
    };
  }
};
</script>
