<template>
  <div
    class="py-1 px-4 d-flex justify-space-between align-baseline"
    style="max-height: 10%; height: auto"
  >
    <div>email</div>
    <my-button noBorder label="Profile Settings" />
  </div>
</template>

<script>
// import { } from '@vue/composition-api'
import MyButton from './common/Button.vue';

export default {
  components: { MyButton },
  setup() {}
};
</script>
