<template>
  <tr>
    <td :class="classe">
      <my-button
        colorWhite
        noBorder
        :label="label"
        class="pa-5 justify-start fullWidth"
        @onClick="onClickItem"
      />
    </td>
  </tr>
</template>

<script>
import {} from '@vue/composition-api';
import MyButton from './common/Button.vue';

export default {
  components: { MyButton },
  emits: ['onClick'],
  props: {
    label: {
      type: String,
      required: true
    },
    withBorder: {
      type: Boolean,
      default: false
    },
    btnItemSelected: {
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {
    const onClickItem = event => {
      context.emit('onClickItem', event);
    };

    return {
      onClickItem
    };
  },
  computed: {
    classe() {
      return {
        border: this.withBorder,
        itemSelected: this.btnItemSelected
      };
    }
  }
};
</script>

<style scoped>
.border {
  border: 0.5px solid rgb(143, 142, 142);
}
.fullWidth {
  width: 100%;
}
.itemSelected {
  background-color: rgb(143, 142, 142);
}
</style>
