<template>
  <div class="menu">
    <table class="tableCollapse fullWidth">
      <ListItem
        v-for="(title, id) in titles"
        :key="id"
        @onClickItem="onClick($event, id)"
        :label="title.name"
        withBorder
        :btnItemSelected="id === selectedId"
      />
      <ListItem @onClickItem="onClick($event, -1)" label="+ Add Integration" />
    </table>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import ListItem from './ListItem.vue';

export default {
  components: { ListItem },
  emits: ['onClickItem'],
  setup(props, { emit }) {
    let selectedId = ref(0);
    let titles = ref([
      { name: 'Name & Password' },
      { name: 'My Groups' },
      { name: 'Billing Plan' },
      { name: 'FarmOS' },
      { name: 'Hylo' },
      { name: 'Group' }
    ]);

    function onClick(event, id) {
      selectedId.value = id;
      console.log(selectedId.value, ' ', event, ' on ', event.target.innerText);
      emit('selectedId', selectedId.value);
    }

    return {
      titles,
      selectedId,
      onClick
    };
  }

  /*data() {
    return {
      titles: [
        {
          name: 'Name & Password'
        },
        {
          name: 'My Groups'
        },
        {
          name: 'Billing Plan'
        },
        { name: 'FarmOS' },
        { name: 'Hylo' }
      ],
      selectedId: 0
    };
  },*/

  /*methods: {
    onClick(event, id) {
      this.selectedId = id;
      this.$emit('selectedId', id);
      console.log(id, ' click button', event, ' on ', event.target.innerText);
    }
  }*/
};
</script>

<style scoped>
.menu {
  /* background-color: rgb(75, 72, 72); */
  width: auto;
}
.tableCollapse {
  border-collapse: collapse;
}
.fullWidth {
  width: 100%;
}
.border {
  border: 0.5px solid rgb(143, 142, 142);
}
</style>
