<template>
  <table>
    <thead>
      <tr>
        <th v-for="(head, id) in headers" :key="id" class="text-left">
          {{ head.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, id) in items" :key="id">
        <td class="box">
          <div class="d-flex justify-space-between align-center">
            <div>{{ item.url }}</div>
            <div>
              <my-button little noBorder colorBlue label="access" />
              <my-button little noBorder label="move" />
              <my-button little noBorder colorRed label="remove" />
            </div>
          </div>
        </td>
        <td
          v-if="Array.isArray(item.grpAccess) && item.grpAccess.length"
          class="box"
        >
          <v-chip
            v-for="(group, id) in item.grpAccess"
            :key="id"
            class="ma-2"
            color="grey"
            close
            @click:close="onCloseGrpAccess(item, group.id)"
            label
          >
            {{ group.value }}
          </v-chip>
        </td>
        <td v-else class="box">
          <p>
            <i>only owners may view this information</i>
          </p>
        </td>
        <td
          v-if="
            Object.entries(item.othAccess) &&
            Object.entries(item.othAccess).length
          "
          class="box"
        >
          <v-chip
            v-for="(other, id) in item.othAccess"
            :key="id"
            class="ma-2"
            color="grey"
            close
            @click:close="onCloseOthAccess(item, other.id)"
            label
          >
            {{ other.value }}
          </v-chip>
        </td>
        <td v-else class="box">
          <p>
            <i>only owners may view this information</i>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import {} from '@vue/composition-api';
import MyButton from './common/Button.vue';

export default {
  components: { MyButton },
  props: {
    headers: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  emits: ['onCloseGrpAccess', 'onCloseOthAccess'],
  setup(props, context) {
    function onCloseGrpAccess(item, id) {
      context.emit('onCloseGrpAccess', item, id);
    }
    function onCloseOthAccess(item, id) {
      context.emit('onCloseOthAccess', item, id);
    }

    return {
      onCloseGrpAccess,
      onCloseOthAccess
    };
  }
};
</script>

<style scoped>
table {
  width: 100%;
  border-spacing: 4px !important;
}
.box {
  align-items: center;
  padding: 16px 4px;
  background-color: rgb(222, 222, 222);
}
td > p {
  margin: 0px;
}
</style>
