<template>
  <div class="flex-grow-1 pa-4">
    <div class="d-flex justify-space-between">
      <h2>
        FarmOS Integration
        <my-button colorWhite noBorder skinny bigFont label="?" />
      </h2>
      <my-button primaryGreen label="Connect from Farmier" />
    </div>
    <div class="pa-3">Special Component Content3 with menuId {{ menuId }}</div>

    <div>
      <table-user
        :headers="headers"
        :items="items"
        @onCloseGrpAccess="updateObjGrp"
        @onCloseOthAccess="updateObjOth"
      />
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import MyButton from './common/Button.vue';
import TableUser from './TableUser.vue';

export default {
  components: { MyButton, TableUser },
  props: {
    menuId: {
      type: Number,
      require: true
    }
  },
  setup() {
    let headers = ref([
      { key: 'url', label: 'FarmOS Farm URL' },
      { key: 'grpAccess', label: 'Groups with access' },
      { key: 'othAccess', label: 'Other users with access' }
    ]);
    let items = ref([
      {
        url: 'dan_teravest_farm.farmos.net',
        grpAccess: [
          { id: 10, value: 'Our Sci' },
          { id: 13, value: 'Bionutrient Institute' },
          { id: 20, value: 'PASA' }
        ],
        othAccess: [
          { id: 21, value: 'gbathree@gmail.com' },
          { id: 22, value: 'joesmoe@joe.net' }
        ]
      },
      {
        url: 'ourscillc.farmos.net',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '1',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '2',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '3',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '4',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '5',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '6',
        grpAccess: [],
        othAccess: []
      },
      {
        url: '7',
        grpAccess: [],
        othAccess: []
      }
    ]);

    function updateObjGrp(obj, id) {
      //console.log('receive in parent, in group id', obj, id);
      let targetObj = items.value.find(tobj => tobj === obj);
      targetObj.grpAccess.splice(
        targetObj.grpAccess.findIndex(g => g.id === id),
        1
      );
    }
    function updateObjOth(obj, id) {
      //console.log('receive in parent, in other id ', obj, id);
      let targetObj = items.value.find(tobj => tobj === obj);
      targetObj.othAccess.splice(
        targetObj.othAccess.findIndex(o => o.id === id),
        1
      );
    }

    return {
      headers,
      items,
      updateObjGrp,
      updateObjOth
    };
  }
};
</script>
