<template>
  <v-app id="app">
    <div class="parent d-flex flex-column">
      <Header />
      <Body class="theBody" />
      <Footer />
    </div>
  </v-app>
</template>

<script>
import Header from './components/Header.vue';
import Body from './components/Body.vue';
import Footer from './components/Footer.vue';

export default {
  name: 'App',
  components: {
    Header,
    Body,
    Footer
  }
};
</script>

<style>
html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
#app > div {
  align-items: center;
}
.parent {
  width: 100%;
  height: 100%;
}
.theBody {
  flex: 1 1 auto;
  max-height: 100%;
}
</style>
